.container-form-address {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-form;
    background-color: $primary-color-black65;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    // overflow: auto;

    @include breakpoint-max(850px) {
        display: flex;
    }

    @include breakpoint-max(500px) {
        padding: 0rem 0;
    }

    .in-animasi-bg-white {
        -webkit-animation: slide-in-elliptic-top-fwd .7s cubic-bezier(.25, .46, .45, .94) both;
        animation: slide-in-elliptic-top-fwd .7s cubic-bezier(.25, .46, .45, .94) both;

        @include breakpoint-max(500px) {
            -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }

    .out-animasi-bg-white {
        -webkit-animation: slide-out-elliptic-top-bck .7s ease-in both;
        animation: slide-out-elliptic-top-bck .7s ease-in both;

        @include breakpoint-max(500px) {
            -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }
    }

    .bg-white {
        background-color: white;
        width: 50rem;
        height: 90%;
        border-radius: 2rem;

        @include breakpoint-max(850px) {
            width: 100%;
            margin: 0 1rem;
        }

        @include breakpoint-max(500px) {
            width: 100%;
            height: 100%;
            margin: 0 0rem;
            border-radius: 0rem;
        }

        .judul-form {
            position: relative;

            h2 {
                text-align: center;
                font-size: $font-size-2xl;
                text-transform: capitalize;
                margin: 1rem 0;

                @include breakpoint-max(500px) {
                    font-size: 1.5rem;
                }

                @include breakpoint-max(360px) {
                    font-size: $font-size-xl;
                }
            }

            button {
                position: absolute;
                top: -.3rem;
                right: 0;
                margin-right: .5rem;
                background-color: transparent;
                font-size: $font-size-2xl;
                cursor: pointer;
                z-index: 1;

                @include breakpoint-max(500px) {
                    font-size: 1.9rem;
                    top: -.5rem;
                }

                @include breakpoint-max(360px) {
                    top: -.6rem;
                }

                @include breakpoint-max(320px) {
                    top: -.4rem;
                    font-size: 1.7rem;
                }
            }

            hr {
                margin: 0;
                border: solid 1px rgb(0, 0, 0);
            }
        }

        .parent-form-address {
            position: fixed;
            top: 0;
            height: 100%;
            width: 100%;
            padding-top: 4.2rem;
            border-radius: 2rem;
            overflow: hidden;

            @include breakpoint-max(500px) {
                padding-top: 3.7rem;
            }
        }

        .form-address {
            padding: 1rem 1.5rem;
            display: grid;
            gap: 2rem;
            overflow: auto;
            height: 100%;
            width: 100%;

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $gray-medium-color;
                border-radius: 1rem;
            }

            &::-webkit-scrollbar-track {
                background-color: #f0f0f0;
            }

            .input-form {
                background-color: #f1f0f0;
                border: solid 2px $gray-light-color;
                transition-duration: 300ms;
                padding: 1.3rem 1rem .2rem 1rem;
                font-size: $font-size-xl;
                color: $gray-medium-color;
                appearance: textfield;
                -webkit-appearance: none;
                -moz-appearance: textfield;

                &:hover {
                    box-shadow: 0px 0px 5px $gray-silver-color;
                }

                &:focus {
                    box-shadow: 0px 0px 2px $primary-color;
                    border: solid 2px $primary-color;
                }

                @include breakpoint-max(500px) {
                    font-size: $font-size-md;
                }

                @include breakpoint-max(320px) {
                    font-size: $font-size-sm;
                }
            }

            .input-form-danger {
                border: solid 2px $primary-danger;

                &:focus {
                    box-shadow: 0px 0px 2px $primary-danger;
                    border: solid 2px $primary-danger;
                }

                @include breakpoint-max(500px) {
                    font-size: $font-size-md;
                }

                @include breakpoint-max(320px) {
                    font-size: $font-size-sm;
                }
            }

            .parent-input-form:focus-within .input-placeholder {
                top: 10%;
                padding: 0;
                color: $primary-color;
                font-size: $font-size-sm;
            }

            .input-placeholder {
                position: absolute;
                margin-left: 1rem;
                top: 30%;
                color: $gray-medium-color;
                font-size: $font-size-xl;
                transition-duration: 300ms;
                font-weight: lighter;
                font-style: italic;
                background-color: transparent;

                @include breakpoint-max(500px) {
                    top: 26%;
                }

                @include breakpoint-max(320px) {
                    top: 30%;
                    font-size: $font-size-lg;
                }
            }

            .input-placeholder-active {
                top: 10%;
                padding: 0;
                color: $gray-medium-color;
                font-size: $font-size-sm;
                transition-duration: 300ms;
                background-color: transparent;
            }

            .parent-input-form:focus-within .input-placeholder-danger {
                color: $primary-danger;
                font-size: $font-size-sm;
            }

            .input-placeholder-danger {
                top: 10%;
                padding: 0;
                color: $primary-danger;
                font-size: $font-size-sm;
                transition-duration: 300ms;
                background-color: transparent;
            }

            .parent-input-form:focus-within .input-placeholder-danger-focus {
                color: $primary-danger;
                font-size: $font-size-sm;
            }

            .validasi {
                position: absolute;
                left: 0;
                bottom: -1.1rem;
                margin-left: 1rem;
                font-size: $font-size-base;
                color: $primary-danger;

                @include breakpoint-max(390px) {
                    bottom: -1.1rem;
                    font-size: $font-size-sm
                }

                @include breakpoint-max(375px) {
                    bottom: -.9rem;
                    font-size: $font-size-xs;
                }
            }

            .parent-button {
                display: flex;
                align-items: center;

                .button-save {
                    margin-top: 1rem;
                    color: $gray-color;
                    background-color: transparent;
                    cursor: not-allowed;

                    &:hover {
                        color: $gray-color;
                        background-color: transparent;
                    }

                    @include breakpoint-max(500px) {
                        margin-top: .5rem;
                    }
                }

                .button-save-active {
                    margin-top: 1rem;
                    color: white;
                    background-color: $primary-color;
                    border-radius: .5rem;
                    cursor: pointer;

                    &:hover {
                        background-color: $primary-color-hover;
                    }
                }
            }
        }

        .max-input {
            position: absolute;
            right: 0;
            bottom: -1.1rem;
            display: flex;
            font-size: $font-size-sm;
            gap: .1rem;
            color: $gray-medium-color;
        }

        .parent-address-label {
            position: relative;
            font-size: $font-size-xl;

            @include breakpoint-max(500px) {
                font-size: $font-size-md;
            }

            @include breakpoint-max(320px) {
                font-size: $font-size-sm;
            }

            .address-label {
                position: relative;
                z-index: 2;
                background-color: #f1f0f0;
                border: solid 2px $gray-light-color;
                padding: .8rem .8rem;
                color: $gray-medium-color;
                display: flex;
                justify-content: space-between;
                border-radius: .5rem;
                text-transform: capitalize;
                font-weight: lighter;
                font-style: italic;

                &:hover {
                    box-shadow: 0px 0px 5px $gray-silver-color;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                }
            }

            .active {
                box-shadow: 0px 0px 2px $primary-color;
                border: solid 2px $primary-color;
                color: $primary-color;
                border-radius: .5rem .5rem 0 0;
            }

            .list-label-address {
                position: absolute;
                margin-top: -.5rem;
                width: 100%;
                z-index: 1;
                display: grid;
                grid-template-rows: 0fr;
                transition: grid-template-rows 500ms;

                ul {
                    padding-top: .4rem;
                    color: $gray-medium-color;
                    text-transform: capitalize;
                    background-color: #f1f0f0;
                    border: solid 2px $gray-light-color;
                    border-top: none;
                    border-radius: 0 0 .7rem .7rem;
                    overflow: hidden;

                    li {
                        padding: .8rem .8rem;
                        border-bottom: solid 2px $gray-light-color;
                        cursor: pointer;

                        &:hover {
                            color: $gray-color;
                            background-color: rgb(235, 235, 235);
                        }
                    }
                }
            }

            .invisible {
                grid-template-rows: 1fr;
            }
        }
    }
}

.parent-input-form-textarea {
    position: relative;

    .input-form-textarea {
        position: relative;
        width: 100%;
        background-color: #f1f0f0;
        border: solid 2px $gray-light-color;
        padding: 1.5rem 1rem .2rem 1rem;
        transition-duration: 300ms;
        font-size: $font-size-xl;
        color: $gray-medium-color;
        border-radius: .5rem;
        resize: none;

        &:hover {
            box-shadow: 0px 0px 5px $gray-silver-color;
        }

        &:focus {
            box-shadow: 0px 0px 2px $primary-color;
            border: solid 2px $primary-color;
            outline: none;
            color: $gray-color;
        }
    }

    .input-form-textarea-danger {
        border: solid 2px $primary-danger;

        &:focus {
            box-shadow: 0px 0px 2px $primary-danger;
            border: solid 2px $primary-danger;
        }
    }

    .input-form-textarea::-webkit-scrollbar {
        width: 0px;
    }

    .input-form-textarea-padding {
        padding-top: 2rem;
    }

    .input-placeholder-textarea {
        position: absolute;
        top: 1.5rem;
        left: 1rem;
        color: $gray-medium-color;
        font-size: $font-size-xl;
        transition-duration: 300ms;
        font-weight: lighter;
        font-style: italic;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .input-placeholder-textarea-active {
        top: .5rem;
        left: 1rem;
        font-size: $font-size-sm;
        color: $primary-color;
        background-color: transparent;
    }

    &:focus-within>.input-placeholder-textarea {
        top: .5rem;
        left: 1rem;
        font-size: $font-size-sm;
        color: $primary-color;
        background-color: transparent;
    }

    .input-placeholder-textarea-danger {
        color: $primary-danger;
    }

    &:focus-within .input-placeholder-textarea-danger-focus {
        color: $primary-danger;
    }

    .validasi-textarea {
        position: absolute;
        left: 0;
        bottom: -1rem;
        margin-left: 1rem;
        font-size: $font-size-base;
        color: $primary-danger;

        @include breakpoint-max(390px) {
            bottom: -1.1rem;
            font-size: $font-size-sm
        }

        @include breakpoint-max(375px) {
            bottom: -.9rem;
            font-size: $font-size-xs;
        }
    }
}