.container-heart-icon {
    position: relative;
    display: flex;

    .icon-heart {
        padding: 0;
        background-color: transparent;
        border-radius: none;

        color: $gray-color;
        font-size: $font-size-1xl;

        &:hover {
            background-color: transparent;
            color: $gray-color;
        }

        @include breakpoint-max(770px) {
            font-size: 1.7rem;
        }

        @include breakpoint-max(460px) {
            font-size: 1.6rem;
        }

        @include breakpoint-max(360px) {
            font-size: 1.4rem;
        }

        @include breakpoint-max(320px) {
            font-size: 1.2rem;
        }
    }

    .tooltip-heart-icon-add,
    .tooltip-heart-icon-remove {
        position: absolute;
        text-transform: capitalize;
        text-align: center;
        padding: .5rem 0;
        background-color: $primary-color-black65;
        top: 2.5rem;
        left: 0;

        @include breakpoint-max(500px) {
            font-size: $font-size-xs;
        }
    }

    .tooltip-heart-icon-add {
        width: 8rem;

        @include breakpoint-max(500px) {
            width: 7rem;
        }
    }

    .tooltip-heart-icon-remove {
        width: 9.5rem;

        @include breakpoint-max(500px) {
            width: 8rem;
        }
    }
}