.container-logo {
    img {
        @include breakpoint-max(800px) {
            width: 120px;
        }

        @include breakpoint-max(600px) {
            width: 110px;
        }

        @include breakpoint-max(450px) {
            width: 100px;
        }
    }
}