.container-logo {
    img {
        @include breakpoint-max(500px) {
            width: 120px;
        }

        @include breakpoint-max(360px) {
            width: 110px;
        }

        @include breakpoint-max(320px) {
            width: 100px;
        }
    }
}