.parent-form-forget-pass {
    width: 40rem;
    height: 32rem;
    display: grid;
    grid-template-rows: 45% 55%;
    padding: 0 1rem;

    @include breakpoint-max(580px) {
        width: 100%;
        padding: 0 .5rem;
    }

    @include breakpoint-max(485px) {
        grid-template-rows: 40% 60%;
        height: 30rem;
    }

    @include breakpoint-max(375px) {
        grid-template-rows: 32% 68%;
        height: 28rem;
    }

    @include breakpoint-max(320px) {
        grid-template-rows: 32% 68%;
        height: 25rem;
    }

    .bg-green-forget-pass {
        background-image: url("../../../assets/formLoginRegister/formForgetPassword-1.svg");
        background-color: $primary-color;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .icon-close {
            position: absolute;
            right: 0;
            top: 0;
            margin: 0 .4rem 0 0;
            font-size: 2.5rem;
            cursor: pointer;
            transition-duration: 300ms;
            background-color: transparent;

            &:hover {
                color: red;
            }

            @include breakpoint-max(485px) {
                font-size: 2rem;
            }

            @include breakpoint-max(320px) {
                margin: 0 0rem 0 0;
            }
        }

        .icon_forget-password {
            position: absolute;
            top: -15%;
            background-color: white;
            padding: .4rem 1rem 1rem 1rem;
            border-radius: 100%;
            font-size: 4rem;
            color: $primary-color;

            @include breakpoint-max(485px) {
                font-size: 3.5rem;
            }

            @include breakpoint-max(375px) {
                font-size: 2.5rem;
                padding: .2rem .8rem .8rem .8rem;
            }
        }

        h1 {
            font-size: 2.5rem;
            color: white;
            text-transform: capitalize;

            @include breakpoint-max(580px) {
                font-size: $font-size-2xl;
            }

            @include breakpoint-max(485px) {
                font-size: 1.7rem;
            }

            @include breakpoint-max(410px) {
                font-size: $font-size-xl;
            }
        }

        p {
            color: white;
            font-size: $font-size-xl;
            position: absolute;
            margin-top: 25%;

            @include breakpoint-max(580px) {
                font-size: $font-size-lg;
            }

            @include breakpoint-max(410px) {
                font-size: $font-size-lg;
            }

            @include breakpoint-max(330px) {
                text-align: center;
                padding: 1rem .5rem 0rem .5rem;
                font-size: $font-size-md;
            }

            @include breakpoint-max(320px) {
                text-align: center;
                padding: 0rem 3rem 0rem 3rem;
            }
        }
    }

    .bg-white-forget-pass {
        background-image: url("../../../assets/formLoginRegister/formForgetPassword-2.svg");
        background-position: center center;
        background-color: white;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include breakpoint-max(615px) {
            background-image: none;
        }

        .gap-password {
            display: grid;
            gap: 2.3rem;

            @include breakpoint-max(320px) {
                gap: 2rem;
            }
        }

        .form-pass {
            width: 25rem;
            padding-right: .8rem;

            @include breakpoint-max(615px) {
                padding-right: 0rem;
                width: 90%;
            }

            .button-reset-pass {
                text-transform: capitalize;
                background-color: $primary-color-dark;
                width: 100%;
                color: white;
                padding: 1.2rem 0;
                font-size: $font-size-xl;
                border-radius: .5rem;
                transition-duration: 300ms;

                &:hover {
                    background-color: $primary-color-black;
                }

                @include breakpoint-max(337px) {
                    margin-top: .8rem;
                }
            }

            .input-forget-pass {
                position: relative;
                padding: 1.2rem 1rem 1.2rem 3.4rem;
                background-color: transparent;
                border: 2px solid $gray-green-color;
                width: 100%;
                border-radius: .5rem;
                color: $primary-color;
                outline: none;
                transition: all;
                transition-duration: 300ms;
                font-size: $font-size-lg;

                &:focus {
                    border: 2px solid $primary-color;
                    color: $primary-color;
                }

                @include breakpoint-max(425px) {
                    padding: 1rem 1rem 1rem 3.4rem;
                }
            }

            .input-forget-pass-danger {
                border: 2px solid $primary-danger;
                color: $primary-danger;

                &:focus {
                    border: 2px solid $primary-color;
                    color: $primary-color;
                }
            }

            .validasi-danger-forget-pass {
                position: absolute;
                left: 0;
                bottom: -1.3rem;
                color: $primary-danger;
                padding-left: 1rem;
                text-transform: capitalize;
                font-size: $font-size-md;

                @include breakpoint-max(425px) {
                    font-size: $font-size-base;
                }
            }

            .validasi-danger-forget-pass-overfont {
                position: absolute;
                left: 0;
                bottom: -1.3rem;
                color: $primary-danger;
                padding-left: 1rem;
                text-transform: capitalize;
                font-size: $font-size-md;

                @include breakpoint-max(425px) {
                    font-size: $font-size-base;
                }

                @include breakpoint-max(337px) {
                    bottom: -2.3rem;
                }
            }
        }
    }
}

.placeholder-forget-pass {
    color: $gray-green-color;
    text-transform: capitalize;
    position: absolute;
    font-size: $font-size-lg;
    margin-top: 0;
    margin-left: 3.4rem;
    transition-duration: 300ms;
    cursor: text;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        background-color: transparent;
        width: 100%;
        height: 100%;
    }

    @include breakpoint-max(425px) {
        font-size: $font-size-md;
    }
}

.placeholder-forget-pass-active {
    margin-top: -3.8rem;
    background-color: white;
    color: $primary-color;
    padding: 0 .5rem 0 .5rem;
    font-size: 1rem;
    position: absolute;

    @include breakpoint-max(320px) {
        margin-left: 1rem;
    }
}

.placeholder-forget-pass-danger {
    margin-top: -3.8rem;
    background-color: white;
    color: $primary-danger;
    padding: 0 .5rem 0 .5rem;
    font-size: 1rem;
    position: absolute;

    @include breakpoint-max(425px) {
        font-size: .9rem;
        margin-top: -3.6rem;
    }
}

.parent-input-form:focus-within>.placeholder-forget-pass {
    margin-top: -3.8rem;
    background-color: white;
    color: $primary-color;
    padding: 0 .5rem 0 .5rem;
    font-size: 1rem;
    position: absolute;

    @include breakpoint-max(425px) {
        font-size: .9rem;
        margin-top: -3.6rem;
    }

    @include breakpoint-max(320px) {
        margin-left: 1rem;
    }
}

.parent-icon-forget-pass {
    position: absolute;
    color: $gray-green-color;
    margin-left: 1rem;
    font-size: 1.5rem;
    transition-duration: 300ms;

    @include breakpoint-max(425px) {
        font-size: 1.2;
    }
}

.parent-icon-forget-pass-active {
    color: $primary-color;
}

.parent-icon-forget-pass-danger {
    color: $primary-danger;
}

.parent-input-form:focus-within>.parent-icon-forget-pass {
    color: $primary-color;
}