.parent-users-login-mobile {
    position: relative;

    @include breakpoint-min(429px) {
        display: none;
    }

    .parent-icon-users {
        font-size: 1.5rem;
        color: white;
        background-color: $gray-color;
        padding: .3rem .6rem .6rem .6rem;
        border-radius: 100%;
        cursor: pointer;

        @include breakpoint-max(450px) {
            font-size: 1.35rem;
        }

        @include breakpoint-max(360px) {
            font-size: 1.3rem;
            padding: .2rem .5rem .5rem .5rem;
        }
    }

    .bg-black-mobile-users {
        position: fixed;
        top: 4.5rem;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.45);

        .parent-users-hover {
            background-color: white;
            border: 1px solid $gray-medium-color;
            padding: 1rem 1rem;

            @include breakpoint-max(320px) {
                height: 100%;
            }

            .data-users {
                display: grid;
                justify-items: center;
                align-items: center;
                gap: 1.5rem;
                padding-top: 1.5rem;
                margin-bottom: 3rem;
                cursor: pointer;

                @include breakpoint-max(320px){
                    gap: 1rem;
                }

                .users-profile {
                    background-color: $gray-medium-color;
                    color: white;
                    font-size: 4rem;
                    padding: 0 1.1rem;
                    padding-top: .3rem;
                    padding-bottom: 1rem;
                    border-radius: 100%;

                    @include breakpoint-max(320px){
                        font-size: 3rem;
                        padding: 0 1rem;
                        padding-top: .3rem;
                        padding-bottom: 1rem;
                    }
                }

                .email-users {
                    font-size: 1.7rem;
                    color: black;
                    text-decoration: none;
                    transition-duration: 300ms;

                    &:hover {
                        color: $primary-color;
                    }

                    @include breakpoint-max(320px) {
                        font-size: 1.5rem;
                    }
                }
            }

            .parent-users-menu {
                padding-top: 2rem;

                @include breakpoint-max(320px) {
                    height: 32%;
                    display: grid;
                    align-items: center;
                    padding-top: 0;
                }
                ul{
                    display:grid;
                    gap:.5rem;
                }
                li {
                    cursor: pointer;

                    .btn-users {
                        background-color: transparent;
                        text-decoration: none;
                        transition-duration: 300ms;
                        padding: 0;
                        color: black;
                        font-size: 1.4rem;

                        &:hover {
                            color: $primary-color;
                        }

                        @include breakpoint-max(320px){
                            font-size: $font-size-xl;
                        }
                    }
                }

                hr {
                    margin: 0;
                }
            }
        }
    }
}