// Animasi
@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(1) scaleX(1);
        transform: translateY(-1000px) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(1) scaleX(1);
        transform: translateY(-1000px) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

// NavigationBar
.nav-fixed {
    position: fixed;
    transition: all;
    transition-duration: 300ms;

    -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.nav {
    height: 5rem;
    box-sizing: border-box;
    background-color: white;
    width: 100%;

    .parent-search-mobile {
        display: inline;
        align-self: center;
        position: absolute;
        right: 0;
        z-index: 20;
        transition-duration: 300ms;
        overflow: hidden;

        @include md {
            display: none;
        }
    }

    .search-active {
        width: 100%;
    }

    .search-notActive {
        width: 0%;
    }

    .judul-nav {
        width: 7rem;
        font-size: $font-size-xl;
        display: none;

        @include breakpoint-min(360px) {
            display: inline;
        }

        @include sm {
            width: 10rem;
        }
    }

    .btn-menu-utama-nav {
        background-color: transparent;
        color: black;
        font-size: 1.5rem;
        padding: 0.5rem;
        display: flex;
        border: none;
        transition-duration: 300ms;
        border-radius: 100%;

        &:hover {
            background-color: $gray-color;
            color: black;
        }
    }

    .parent-search {
        position: relative;
        width: 3rem;

        .btn-search-on-off {
            background-color: transparent;
            border: none;
            color: black;
            transition-duration: 300ms;
            position: absolute;
            right: 0;
            top: 15%;
            z-index: 10;
            display: flex;
            padding: .7rem;
            margin: .2rem .3rem 0 .3rem;
            border-radius: 100%;

            &:hover {
                background-color: $gray-color-hover;
            }

            // Responsive
            @include md {
                display: none;
            }
        }

        .search-catatan {
            width: 0%;
            transition-duration: 300ms;
            overflow: hidden;

            // Responsive
            @include md {
                width: 100%;
            }
        }
    }
}

// NavigationBar End