.global-container {
    width: 95%;
    margin: 0 auto;

    @include breakpoint-min(1441px) {
        width: 88rem;
    }
}

.global-parent-pengaturan-profile {
    width: 60rem;
    margin: 0 auto;
    margin-top: 4rem;

    @include breakpoint-max(428px) {
        margin-top: 3rem;
    }

    @include breakpoint-max(1025px) {
        width: 100%;
    }

    .global-flex {
        display: flex;
        gap: 3rem;
        margin-top: 2.5rem;

        @include breakpoint-max(1025px) {
            display: grid;
        }
    }
}