// Color
$hue: 152;
// Primary
$primary-color: hsl($hue, 100%, 50%);
$primary-color-bright: hsl($hue, 100%, 80%);
$primary-color-dark: hsl($hue, 100%, 30%);
$primary-color-hover: hsl($hue, 100%, 30%);
// Gray
$gray-color: hsl($hue, 0%, 92%);
$gray-color-hover: hsl($hue, 0%, 85%);

// Font Size
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;

// Padding
$distance-search-lg: 2rem;
$distance-search-md: 1rem;