 @-webkit-keyframes slide-in-blurred-bl-icon-1 {
     0% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     10% {
         -webkit-transform: scale(0.91);
         transform: scale(0.91);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     15% {
         -webkit-transform: scale(0.98);
         transform: scale(0.98);
         -webkit-animation-timing-function: ease-out;
         animation-timing-function: ease-out;
     }

     25% {
         -webkit-transform: scale(0.87);
         transform: scale(0.87);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     30% {
         -webkit-transform: scale(1);
         transform: scale(1);
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     45% {
         -webkit-transform: translate(-25px, 10px) scale(0.80);
         transform: translate(-25px, 10px) scale(0.80);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     65% {
         -webkit-transform: translate(-50px, 50px) scale(0.20);
         transform: translate(-50px, 50px) scale(0.20);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     100% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }
 }

 @keyframes slide-in-blurred-bl-icon-1 {
     0% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     10% {
         -webkit-transform: scale(0.91);
         transform: scale(0.91);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     15% {
         -webkit-transform: scale(0.98);
         transform: scale(0.98);
         -webkit-animation-timing-function: ease-out;
         animation-timing-function: ease-out;
     }

     25% {
         -webkit-transform: scale(0.87);
         transform: scale(0.87);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     30% {
         -webkit-transform: scale(1);
         transform: scale(1);
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     45% {
         -webkit-transform: translate(-25px, 10px) scale(0.80);
         transform: translate(-25px, 10px) scale(0.80);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     65% {
         -webkit-transform: translate(-50px, 50px) scale(0.20);
         transform: translate(-50px, 50px) scale(0.20);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     100% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }
 }

 @-webkit-keyframes slide-in-blurred-bl-icon-2 {
     0% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     10% {
         -webkit-transform: scale(0.91);
         transform: scale(0.91);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     15% {
         -webkit-transform: scale(0.98);
         transform: scale(0.98);
         -webkit-animation-timing-function: ease-out;
         animation-timing-function: ease-out;
     }

     25% {
         -webkit-transform: scale(0.87);
         transform: scale(0.87);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     30% {
         -webkit-transform: scale(1);
         transform: scale(1);
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     65% {
         -webkit-transform: translate(-50px, 10px) scale(0.20);
         transform: translate(-50px, 10px) scale(0.20);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     100% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }
 }

 @keyframes slide-in-blurred-bl-icon-2 {
     0% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     10% {
         -webkit-transform: scale(0.91);
         transform: scale(0.91);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     15% {
         -webkit-transform: scale(0.98);
         transform: scale(0.98);
         -webkit-animation-timing-function: ease-out;
         animation-timing-function: ease-out;
     }

     25% {
         -webkit-transform: scale(0.87);
         transform: scale(0.87);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     30% {
         -webkit-transform: scale(1);
         transform: scale(1);
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     65% {
         -webkit-transform: translate(-50px, 10px) scale(0.20);
         transform: translate(-50px, 10px) scale(0.20);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     100% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }
 }

 @-webkit-keyframes slide-in-blurred-bl-icon-3 {
     0% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     10% {
         -webkit-transform: scale(0.91);
         transform: scale(0.91);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     15% {
         -webkit-transform: scale(0.98);
         transform: scale(0.98);
         -webkit-animation-timing-function: ease-out;
         animation-timing-function: ease-out;
     }

     25% {
         -webkit-transform: scale(0.87);
         transform: scale(0.87);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     30%,
     35% {
         -webkit-transform: scale(1);
         transform: scale(1);
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     50% {
         -webkit-transform: translate(-30px, 10px);
         transform: translate(-30px, 10px);
     }

     65% {
         -webkit-transform: translate(20px, 60px) scale(0.20);
         transform: translate(20px, 60px) scale(0.20);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     75% {
         -webkit-transform: translate(0px, 55px) scale(0.30);
         transform: translate(0px, 55px) scale(0.30);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     100% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }
 }

 @keyframes slide-in-blurred-bl-icon-3 {
     0% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     10% {
         -webkit-transform: scale(0.91);
         transform: scale(0.91);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     15% {
         -webkit-transform: scale(0.98);
         transform: scale(0.98);
         -webkit-animation-timing-function: ease-out;
         animation-timing-function: ease-out;
     }

     25% {
         -webkit-transform: scale(0.87);
         transform: scale(0.87);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     30%,
     35% {
         -webkit-transform: scale(1);
         transform: scale(1);
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     50% {
         -webkit-transform: translate(-30px, 10px);
         transform: translate(-30px, 10px);
     }

     65% {
         -webkit-transform: translate(20px, 60px) scale(0.20);
         transform: translate(20px, 60px) scale(0.20);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     75% {
         -webkit-transform: translate(0px, 55px) scale(0.30);
         transform: translate(0px, 55px) scale(0.30);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     100% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }
 }

 @-webkit-keyframes slide-in-blurred-bl-icon-4 {
     0% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     10% {
         -webkit-transform: scale(0.91);
         transform: scale(0.91);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     15% {
         -webkit-transform: scale(0.98);
         transform: scale(0.98);
         -webkit-animation-timing-function: ease-out;
         animation-timing-function: ease-out;
     }

     25% {
         -webkit-transform: scale(0.87);
         transform: scale(0.87);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     30% {
         -webkit-transform: scale(1);
         transform: scale(1);
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     65% {
         -webkit-transform: translate(5px, -90px) scale(0.20);
         transform: translate(5px, -90px) scale(0.20);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     100% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }
 }

 @keyframes slide-in-blurred-bl-icon-4 {
     0% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     10% {
         -webkit-transform: scale(0.91);
         transform: scale(0.91);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     15% {
         -webkit-transform: scale(0.98);
         transform: scale(0.98);
         -webkit-animation-timing-function: ease-out;
         animation-timing-function: ease-out;
     }

     25% {
         -webkit-transform: scale(0.87);
         transform: scale(0.87);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     30% {
         -webkit-transform: scale(1);
         transform: scale(1);
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     65% {
         -webkit-transform: translate(5px, -90px) scale(0.20);
         transform: translate(5px, -90px) scale(0.20);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     100% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }
 }

 @-webkit-keyframes slide-in-blurred-bl-icon-5 {
     0% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     10% {
         -webkit-transform: scale(0.91);
         transform: scale(0.91);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     15% {
         -webkit-transform: scale(0.98);
         transform: scale(0.98);
         -webkit-animation-timing-function: ease-out;
         animation-timing-function: ease-out;
     }

     25% {
         -webkit-transform: scale(0.87);
         transform: scale(0.87);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     30% {
         -webkit-transform: scale(1);
         transform: scale(1);
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     65% {
         -webkit-transform: translate(-30px, -30px) scale(0.20);
         transform: translate(-30px, -30px) scale(0.20);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     100% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }
 }

 @keyframes slide-in-blurred-bl-icon-5 {
     0% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     10% {
         -webkit-transform: scale(0.91);
         transform: scale(0.91);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     15% {
         -webkit-transform: scale(0.98);
         transform: scale(0.98);
         -webkit-animation-timing-function: ease-out;
         animation-timing-function: ease-out;
     }

     25% {
         -webkit-transform: scale(0.87);
         transform: scale(0.87);
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     30% {
         -webkit-transform: scale(1);
         transform: scale(1);
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     65% {
         -webkit-transform: translate(-30px, -30px) scale(0.20);
         transform: translate(-30px, -30px) scale(0.20);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
         -webkit-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
     }

     100% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }
 }

 @-webkit-keyframes slide-in-blurred-bl-money-left {
     0% {
         -webkit-transform: translate(0, 0) rotate(0deg);
         transform: translate(0, 0) rotate(0deg);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     10% {
         -webkit-transform: translate(0, 0) rotate(9deg);
         transform: translate(0, 0) rotate(9deg);
     }

     15% {
         -webkit-transform: rotate(-9deg);
         transform: rotate(-9deg);
     }

     25% {
         -webkit-transform: rotate(9deg);
         transform: rotate(9deg);
     }

     30% {
         -webkit-transform: translate(0, 0) rotate(0deg);
         transform: translate(0, 0) rotate(0deg);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     65% {
         -webkit-transform: translate(70px, 30px);
         transform: translate(70px, 30px);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
     }

     100% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }
 }

 @keyframes slide-in-blurred-bl-money-left {
     0% {
         -webkit-transform: translate(0, 0) rotate(0deg);
         transform: translate(0, 0) rotate(0deg);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     10% {
         -webkit-transform: translate(0, 0) rotate(9deg);
         transform: translate(0, 0) rotate(9deg);
     }

     15% {
         -webkit-transform: rotate(-9deg);
         transform: rotate(-9deg);
     }

     25% {
         -webkit-transform: rotate(9deg);
         transform: rotate(9deg);
     }

     30% {
         -webkit-transform: translate(0, 0) rotate(0deg);
         transform: translate(0, 0) rotate(0deg);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     65% {
         -webkit-transform: translate(70px, 30px);
         transform: translate(70px, 30px);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
     }

     100% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }
 }

 @-webkit-keyframes slide-in-blurred-bl-card-ungu {
     0% {
         -webkit-transform: translate(0, 0) scale3d(1, 1, 1);
         transform: translate(0, 0) scale3d(1, 1, 1);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     10% {
         -webkit-transform: translate(0, 0) scale3d(1.25, 0.75, 1);
         transform: translate(0, 0) scale3d(1.25, 0.75, 1);
     }

     15% {
         -webkit-transform: rotate(-9deg) scale3d(0.75, 1.25, 1);
         transform: rotate(-9deg) scale3d(0.75, 1.25, 1);
     }

     25% {
         -webkit-transform: rotate(9deg) scale3d(1.15, 0.85, 1);
         transform: rotate(9deg) scale3d(1.15, 0.85, 1);
     }

     30% {
         -webkit-transform: translate(0, 0) scale3d(1, 1, 1);
         transform: translate(0, 0) scale3d(1, 1, 1);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     65% {
         -webkit-transform: translate(50px, 0px);
         transform: translate(50px, 0px);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
     }

     80% {
         -webkit-transform: translate(-20px, 0px);
         transform: translate(-20px, 0px);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
     }

     100% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }
 }

 @keyframes slide-in-blurred-bl-card-ungu {
     0% {
         -webkit-transform: translate(0, 0) scale3d(1, 1, 1);
         transform: translate(0, 0) scale3d(1, 1, 1);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     10% {
         -webkit-transform: translate(0, 0) scale3d(1.25, 0.75, 1);
         transform: translate(0, 0) scale3d(1.25, 0.75, 1);
     }

     15% {
         -webkit-transform: rotate(-9deg) scale3d(0.75, 1.25, 1);
         transform: rotate(-9deg) scale3d(0.75, 1.25, 1);
     }

     25% {
         -webkit-transform: rotate(9deg) scale3d(1.15, 0.85, 1);
         transform: rotate(9deg) scale3d(1.15, 0.85, 1);
     }

     30% {
         -webkit-transform: translate(0, 0) scale3d(1, 1, 1);
         transform: translate(0, 0) scale3d(1, 1, 1);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     65% {
         -webkit-transform: translate(50px, 0px);
         transform: translate(50px, 0px);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
     }

     80% {
         -webkit-transform: translate(-20px, 0px);
         transform: translate(-20px, 0px);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
     }

     100% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }
 }

 @-webkit-keyframes slide-in-blurred-bl-money-right {
     0% {
         -webkit-transform: translate(0, 0) scale3d(1, 1, 1);
         transform: translate(0, 0) scale3d(1, 1, 1);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     10% {
         -webkit-transform: translate(0, 0) scale3d(1.25, 0.75, 1);
         transform: translate(0, 0) scale3d(1.25, 0.75, 1);
     }

     15% {
         -webkit-transform: rotate(-9deg) scale3d(0.75, 1.25, 1);
         transform: rotate(-9deg) scale3d(0.75, 1.25, 1);
     }

     25% {
         -webkit-transform: rotate(9deg) scale3d(1.15, 0.85, 1);
         transform: rotate(9deg) scale3d(1.15, 0.85, 1);
     }

     30% {
         -webkit-transform: translate(0, 0) scale3d(1, 1, 1);
         transform: translate(0, 0) scale3d(1, 1, 1);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     65% {
         -webkit-transform: translate(50px, 0px);
         transform: translate(50px, 0px);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
     }

     80% {
         -webkit-transform: translate(-20px, 0px);
         transform: translate(-20px, 0px);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
     }

     100% {
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }
 }

 @keyframes slide-in-blurred-bl-money-right {
     0% {
         -webkit-transform: translate(0, 0) translateX(0) rotate(0deg);
         transform: translate(0, 0) translateX(0) rotate(0deg);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     10% {
         -webkit-transform: translateX(10px);
         transform: translateX(10px);
     }

     15% {
         -webkit-transform: translateX(-10px);
         transform: translateX(-10px);
     }

     25% {
         -webkit-transform: translateX(10px);
         transform: translateX(10px);
     }

     30% {
         -webkit-transform: translate(0, 0) rotate(0deg);
         transform: translate(0, 0) rotate(0deg);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     65% {
         -webkit-transform: rotate(-19deg);
         transform: rotate(-19deg);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
     }

     70% {
         -webkit-transform: translate(0, 30px) rotate(-19deg);
         transform: translate(0, 30px) rotate(-19deg);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
     }

     90% {
         -webkit-transform: rotate(90deg) translate(50px, 120px);
         transform: rotate(90deg) translate(50px, 120px);
         -webkit-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
     }

     100% {
         -webkit-transform: translate(0, 0) translateX(0) rotate(0deg);
         transform: translate(0, 0) translateX(0) rotate(0deg);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }
 }

 @-webkit-keyframes slide-in-blurred-bl-tablet {

     0%,
     30%,
     100% {
         -webkit-transform: translateX(0%);
         transform: translateX(0%);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     45% {
         -webkit-transform: translateX(-30px) rotate(-6deg);
         transform: translateX(-30px) rotate(-6deg);
     }

     60% {
         -webkit-transform: translateX(15px) rotate(6deg);
         transform: translateX(15px) rotate(6deg);
     }

     75% {
         -webkit-transform: translateX(-15px) rotate(-3.6deg);
         transform: translateX(-15px) rotate(-3.6deg);
     }

     85% {
         -webkit-transform: translateX(9px) rotate(2.4deg);
         transform: translateX(9px) rotate(2.4deg);
     }

     90% {
         -webkit-transform: translateX(-6px) rotate(-1.2deg);
         transform: translateX(-6px) rotate(-1.2deg);
     }
 }

 @keyframes slide-in-blurred-bl-tablet {

     0%,
     30%,
     100% {
         -webkit-transform: translateX(0%);
         transform: translateX(0%);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
     }

     45% {
         -webkit-transform: translateX(-30px) rotate(-6deg);
         transform: translateX(-30px) rotate(-6deg);
     }

     60% {
         -webkit-transform: translateX(15px) rotate(6deg);
         transform: translateX(15px) rotate(6deg);
     }

     75% {
         -webkit-transform: translateX(-15px) rotate(-3.6deg);
         transform: translateX(-15px) rotate(-3.6deg);
     }

     85% {
         -webkit-transform: translateX(9px) rotate(2.4deg);
         transform: translateX(9px) rotate(2.4deg);
     }

     90% {
         -webkit-transform: translateX(-6px) rotate(-1.2deg);
         transform: translateX(-6px) rotate(-1.2deg);
     }
 }

 .parent-loading-payment {

     .parent-tablet {
         position: relative;
         width: 100%;
         height: 100vh;
         display: flex;
         align-items: center;
         justify-content: center;
         overflow: hidden;

         @include breakpoint-max(320px) {
             margin-top: -2rem;
         }

         .parent-text-contain {
             position: absolute;
             text-align: center;
             margin-top: 33rem;

             @include breakpoint-max(450px) {
                 margin-top: 31rem;
             }

             @include breakpoint-max(360px) {
                 margin-top: 27rem;
             }

             @include breakpoint-max(320px) {
                 margin-top: 25rem;
             }



             h1 {
                 font-size: $font-size-1xl;
                 font-weight: bold;
                 color: $primary-color-black;

                 @include breakpoint-max(320px) {
                     font-size: $font-size-xl
                 }
             }

             h1::first-letter {
                 text-transform: capitalize;
             }

             p {
                 font-size: $font-size-lg;
                 margin-top: .3rem;

                 @include breakpoint-max(320px) {
                     font-size: $font-size-base;
                     margin-top: .5rem;
                 }
             }

             p::first-letter {
                 text-transform: capitalize;
             }
         }

         .tablet {
             -webkit-animation: slide-in-blurred-bl-tablet 3s linear infinite both;
             animation: slide-in-blurred-bl-tablet 3s linear infinite both;

             @include breakpoint-max(450px) {
                 width: 210px;
             }

             @include breakpoint-max(390px) {
                 width: 190px;
             }

             @include breakpoint-max(360px) {
                 width: 170px;
             }

             @include breakpoint-max(320px) {
                 width: 150px;
             }
         }

         .image-coin {
             position: absolute;

             @include breakpoint-max(450px) {
                 width: 60px;
                 height: 60px;
             }

             @include breakpoint-max(390px) {
                 width: 50px;
                 height: 50px;
             }

             @include breakpoint-max(360px) {
                 width: 45px;
                 height: 45px;
             }

             @include breakpoint-max(320px) {
                 width: 35px;
                 height: 35px;
             }
         }

         .image-coin:nth-child(2) {
             margin-top: -22rem;
             margin-left: 18rem;

             -webkit-animation: slide-in-blurred-bl-icon-1 3s linear infinite both;
             animation: slide-in-blurred-bl-icon-1 3s linear infinite both;

             @include breakpoint-max(450px) {
                 margin-top: -20rem;
                 margin-left: 17rem;
             }

             @include breakpoint-max(390px) {
                 margin-top: -17rem;
                 margin-left: 16rem;
             }

             @include breakpoint-max(360px) {
                 margin-top: -16rem;
                 margin-left: 15rem;
             }

             @include breakpoint-max(320px) {
                 margin-top: -14rem;
                 margin-left: 14.5rem;
             }
         }

         .image-coin:nth-child(3) {
             margin-top: -29rem;
             margin-left: -2rem;

             -webkit-animation: slide-in-blurred-bl-icon-2 3s linear infinite both;
             animation: slide-in-blurred-bl-icon-2 3s linear infinite both;

             @include breakpoint-max(450px) {
                 margin-top: -26rem;
             }

             @include breakpoint-max(390px) {
                 margin-top: -23rem;
             }

             @include breakpoint-max(360px) {
                 margin-top: -21rem;
             }

             @include breakpoint-max(320px) {
                 margin-top: -18rem;
                 margin-left: -1rem;
             }
         }

         .image-coin:nth-child(4) {
             margin-top: -17rem;
             margin-left: -22rem;

             -webkit-animation: slide-in-blurred-bl-icon-3 3s linear infinite both;
             animation: slide-in-blurred-bl-icon-3 3s linear infinite both;

             @include breakpoint-max(450px) {
                 margin-top: -16rem;
                 margin-left: -20rem;
             }

             @include breakpoint-max(390px) {
                 margin-top: -12rem;
                 margin-left: -18rem;
             }

             @include breakpoint-max(360px) {
                 margin-top: -10rem;
                 margin-left: -16rem;
             }

             @include breakpoint-max(320px) {
                 margin-left: -13.5rem;
             }
         }

         .image-coin:nth-child(5) {
             margin-top: 15rem;
             margin-left: -19rem;

             -webkit-animation: slide-in-blurred-bl-icon-4 3s linear infinite both;
             animation: slide-in-blurred-bl-icon-4 3s linear infinite both;

             @include breakpoint-max(450px) {
                 margin-top: 14rem;
                 margin-left: -17rem;
             }

             @include breakpoint-max(390px) {
                 margin-top: 15rem;
                 margin-left: -15rem;
             }

             @include breakpoint-max(360px) {
                 margin-top: 14rem;
                 margin-left: -13.5rem;
             }

             @include breakpoint-max(320px) {
                 margin-top: 13rem;
                 margin-left: -12rem;
             }
         }

         .image-coin:nth-child(6) {
             margin-top: 22rem;
             margin-left: 0rem;

             -webkit-animation: slide-in-blurred-bl-icon-5 3s linear infinite both;
             animation: slide-in-blurred-bl-icon-5 3s linear infinite both;

             @include breakpoint-max(450px) {
                 margin-top: 21rem;
             }

             @include breakpoint-max(390px) {
                 margin-top: 19rem;
             }

             @include breakpoint-max(360px) {
                 margin-top: 17rem;
             }

             @include breakpoint-max(320px) {
                 margin-top: 15rem;
             }
         }

         .image-card-ungu {
             position: absolute;
             margin-top: -3rem;
             margin-left: 8rem;

             -webkit-animation: slide-in-blurred-bl-card-ungu 3s linear infinite both;
             animation: slide-in-blurred-bl-card-ungu 3s linear infinite both;

             @include breakpoint-max(450px) {
                 width: 180px;
             }

             @include breakpoint-max(390px) {
                 width: 170px;
                 margin-top: -2rem;
             }

             @include breakpoint-max(360px) {
                 width: 150px;
                 margin-top: -1rem;
                 margin-left: 6rem;
             }

             @include breakpoint-max(320px) {
                 width: 130px;
                 margin-top: 0rem;
                 margin-left: 5rem;
             }
         }

         .image-money-right {
             position: absolute;
             margin-top: 13rem;
             margin-left: 18rem;

             -webkit-animation: slide-in-blurred-bl-money-right 3s linear infinite both;
             animation: slide-in-blurred-bl-money-right 3s linear infinite both;

             @include breakpoint-max(450px) {
                 width: 120px;
                 margin-top: 12rem;
                 margin-left: 16rem;
             }

             @include breakpoint-max(390px) {
                 width: 110px;
                 margin-top: 11rem;
                 margin-left: 15rem;
             }

             @include breakpoint-max(360px) {
                 width: 105px;
                 margin-top: 10rem;
                 margin-left: 14rem;
             }

             @include breakpoint-max(320px) {
                 width: 95px;
                 margin-top: 9rem;
                 margin-left: 12.5rem;
             }
         }

         .image-money-left {
             position: absolute;
             margin-top: 1rem;
             margin-left: -16rem;
             z-index: -1;

             -webkit-animation: slide-in-blurred-bl-money-left 3s linear infinite both;
             animation: slide-in-blurred-bl-money-left 3s linear infinite both;

             @include breakpoint-max(450px) {
                 width: 90px;
                 margin-top: 0rem;
                 margin-left: -15rem;
             }

             @include breakpoint-max(390px) {
                 width: 80px;
                 margin-top: 2rem;
                 margin-left: -15rem;
             }

             @include breakpoint-max(360px) {
                 width: 75px;
                 margin-top: 2rem;
                 margin-left: -12.5rem;
             }

             @include breakpoint-max(360px) {
                 width: 65px;
                 margin-top: 2rem;
                 margin-left: -11rem;
             }
         }

         .image-shadow {
             position: absolute;
             margin-top: 25rem;
             margin-left: 2rem;
             z-index: -1;

             @include breakpoint-max(390px) {
                 width: 230px;
             }

             @include breakpoint-max(360px) {
                 width: 220px;
                 margin-top: 20rem;
             }

             @include breakpoint-max(320px) {
                 width: 200px;
                 margin-top: 18rem;
             }
         }
     }
 }