.container-collect-product {
    padding-top: 3rem;

    @include breakpoint-max(560px) {
        padding-top: 2rem;
    }

    .collect-product-group {
        display: flex;
        gap: 2rem;

        @include breakpoint-max(780px) {
            gap: 1.4rem;
        }

        @include breakpoint-max(700px) {
            display: inline;
        }

        .product-image {
            width: 35rem;

            @include breakpoint-max(1090px) {
                width: 30rem;
            }

            @include breakpoint-max(850px) {
                width: 26rem;
            }

            @include breakpoint-max(700px) {
                width: auto;
            }

            img {
                width: 100%;
                height: 25rem;

                @include breakpoint-max(780px) {
                    height: 20rem;
                }

                @include breakpoint-max(700px) {
                    height: 25rem;
                }

                @include breakpoint-max(390px) {
                    height: 23rem;
                }

                @include breakpoint-max(360px) {
                    height: 22rem;
                }

                @include breakpoint-max(320px) {
                    height: 20rem;
                }
            }

            .custom-prev-arrow-image-array,
            .custom-next-arrow-image-array {
                top: 40%;

                @include breakpoint-max(780px) {
                    top: 42%;
                }
            }
        }

        .product-detail {
            width: 100%;

            @include breakpoint-max(700px) {
                margin-top: 1.5rem;
            }

            .product-detail-top {
                display: grid;
                gap: .5rem;
                box-shadow: 0px 1px 0px 0px $gray-color;
                padding-bottom: 1rem;

                @include breakpoint-max(560px) {
                    margin-top: 1rem;
                }

                @include breakpoint-max(450px) {
                    padding-bottom: .5rem;
                }

                h4 {
                    font-size: $font-size-1xl;
                    color: $primary-color-black;
                    text-transform: capitalize;
                    font-weight: bold;

                    @include breakpoint-max(768px) {
                        font-size: 1.6rem;
                    }

                    @include breakpoint-max(660px) {
                        font-size: 1.5rem;
                    }

                    @include breakpoint-max(560px) {
                        font-size: $font-size-xl
                    }
                }

                .icon-heart-wraps {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    .icon-heart {
                        padding: 0;
                        background-color: transparent;
                        border-radius: none;

                        color: $gray-color;
                        font-size: $font-size-lg;

                        &:hover {
                            background-color: transparent;
                            color: $gray-color;
                        }
                    }

                    p {
                        font-size: $font-size-sm;
                        color: $gray-color;
                        text-transform: capitalize;
                    }
                }

                .text-tooltip-add,
                .text-tooltip-remove {
                    position: fixed;
                    text-transform: capitalize;
                    text-align: center;
                    padding: .4rem .5rem;
                    background-color: $primary-color-black65;
                }
            }

            .product-detail-mid {
                box-shadow: 0px 1px 0px 0px $gray-color;
                padding: 1rem 0;

                @include breakpoint-max(450px) {
                    padding: .7rem 0;
                }

                .price {
                    font-size: $font-size-1xl;
                    color: $primary-color-dark-hover;

                    @include breakpoint-max(768px) {
                        font-size: 1.6rem;
                    }

                    @include breakpoint-max(660px) {
                        font-size: 1.5rem;
                    }

                    @include breakpoint-max(560px) {
                        font-size: $font-size-xl
                    }
                }

                button {
                    color: white;
                    background-color: $primary-color;
                    padding: .5rem 4rem;
                    border-radius: .3rem;
                    margin-top: .7rem;

                    @include breakpoint-max(768px) {
                        padding: .5rem 3.5rem;
                    }

                    @include breakpoint-max(450px) {
                        padding: .5rem 3rem;
                        font-size: $font-size-sm;
                    }
                }
            }

            .informasi {
                font-size: $font-size-base;
                color: $gray-color;
                white-space: pre-line;
                text-align: justify;
                margin-top: 1rem;
                line-height: 1.4rem;

                @include breakpoint-max(450px) {
                    font-size: $font-size-sm;
                }
            }
        }
    }

    .error-link-wrapper {
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        h3 {
            color: $primary-color-black;
            font-size: $font-size-1xl;
            font-weight: bold;

            @include breakpoint-max(360px) {
                font-size: $font-size-xl;
            }
        }

        p {
            color: $gray-color;
            text-align: center;
            line-height: 1.2rem;
        }

        button {
            background-color: $primary-color;
            color: white;
            padding: .7rem 1.2rem;
            border-radius: .5rem;
            text-transform: capitalize;

            @include breakpoint-max(320px) {
                padding: .6rem 1.1rem;
            }
        }
    }
}